---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=3ecd75d3b5bef10ceffdc766f88fc42d7268eeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a3744afba6fa1be07acb3dc2bc671b1c"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - a0cfc8ad5edb2630dbb83e6ee33df63e
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '23,23'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":395071505,"resource_state":2,"external_id":"garmin_push_902671904","upload_id":444023130,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":3651.0,"moving_time":1310,"elapsed_time":1399,"total_elevation_gain":13.8,"type":"Run","start_date":"2015-09-17T12:25:45Z","start_date_local":"2015-09-17T06:25:45Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.77,-105.01],"end_latlng":[39.77,-105.01],"location_city":"Denver","location_state":"Colorado","location_country":"United
        States","start_latitude":39.77,"start_longitude":-105.01,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a395071505","summary_polyline":"_tvqFrg}_SEzRnqA[IkEmDBc@{OqD_F}B`Buy@LYhFwDC","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g357413","average_speed":2.787,"max_speed":3.6,"average_cadence":83.1,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":395071507,"resource_state":2,"external_id":"garmin_push_902671891","upload_id":444023126,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":16101.5,"moving_time":8450,"elapsed_time":9343,"total_elevation_gain":390.1,"type":"Run","start_date":"2015-09-12T15:07:37Z","start_date_local":"2015-09-12T09:07:37Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.7,-105.19],"end_latlng":[39.7,-105.19],"location_city":"Morrison","location_state[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3//activities/395071507?access_token=3ecd75d3b5bef10ceffdc766f88fc42d7268eeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"3f16afeb142ad15aa1dcc44e60720837"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '24,24'
    body:
      encoding: ASCII-8BIT
      string: '{"id":395071507,"resource_state":3,"external_id":"garmin_push_902671891","upload_id":444023126,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":16101.5,"moving_time":8450,"elapsed_time":9343,"total_elevation_gain":390.1,"type":"Run","start_date":"2015-09-12T15:07:37Z","start_date_local":"2015-09-12T09:07:37Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.7,-105.19],"end_latlng":[39.7,-105.19],"location_city":"Morrison","location_state":"Colorado","location_country":"United
        States","start_latitude":39.7,"start_longitude":-105.19,"achievement_count":10,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a395071507","polyline":"cehqFfh`aSfBq@HM\\Yr@iAPg@K_@AWe@uAKg@CHUk@QcBw@{B@o@Ni@Be@?m@Em@Bk@?YTe@`@]Ou@Cq@[}@Em@ScA@c@Hm@No@Bo@VyAFq@DiADA@aAGIHMF?DBl@mArAeBf@EXI?@\\]Xa@^Yd@IhAK~@q@|AqAbBgAv@aAVc@Zc@~AwAx@}@d@uA\\UJk@AI@m@Eo@NMd@F`Al@lAhB~@v@`@A\\Wb@ML?VRt@B\\G\\Zb@Dd@Gb@S^]`@WxBwB\\[Z_@lAoBX[|@a@\\]|@s@r@gAbAsBf@sARcBZ]D?`@YVc@^Ob@Bb@IvA}A^[Nk@\\mCTk@No@Bq@?q@Qi@Is@ZYb@QX]XIZ_@Nm@Bc@ImCMo@Jg@Za@Rk@^}ABk@i@sA_@Mc@@MGOO]gACQ@e@KWIm@EwC]Y{@{@Km@J_BKo@Uc@[c@{@{@u@gA[Ye@@mANKYYiBOi@_@]Wg@a@Ug@CmB\\k@f@Mb@GFCLMHUVOVICM_A][...]
[...]
- request:
    method: get
    uri: https://api.forecast.io/forecast/015ff1c92f8ce9c82d9b5bba8ae8cb86/39.696155,-105.19185,1442048865
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Hostname:
      - ceres
      X-Forecast-Api-Calls:
      - '121'
      Etag:
      - '"1383476079"'
      X-Response-Time:
      - 43ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.696155,"longitude":-105.19185,"timezone":"America/Denver","offset":-6,"currently":{"time":1442048865,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":54.87,"apparentTemperature":54.87,"dewPoint":45.46,"humidity":0.7,"windSpeed":2.81,"windBearing":188,"visibility":10,"cloudCover":0.12,"pressure":1017.64},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1442037600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":59.2,"apparentTemperature":59.2,"dewPoint":46.23,"humidity":0.62,"windSpeed":4.67,"windBearing":197,"visibility":10,"cloudCover":0.05,"pressure":1019.68},{"time":1442041200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":57.29,"apparentTemperature":57.29,"dewPoint":45.66,"humidity":0.65,"windSpeed":7.98,"windBearing":200,"visibility":10[...]
[...]
- request:
    method: get
    uri: https://api.forecast.io/forecast/015ff1c92f8ce9c82d9b5bba8ae8cb86/39.690701,-105.152219,1439111258
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Hostname:
      - ganymede
      X-Forecast-Api-Calls:
      - '141'
      Etag:
      - '"-1414796258"'
      X-Response-Time:
      - 71ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.690701,"longitude":-105.152219,"timezone":"America/Denver","offset":-6,"currently":{"time":1439111258,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":64.18,"apparentTemperature":64.18,"dewPoint":53.99,"humidity":0.7,"windSpeed":2.11,"windBearing":246,"visibility":10,"cloudCover":0.08,"pressure":1012.61},"hourly":{"summary":"Rain
        overnight and in the evening.","icon":"rain","data":[{"time":1439100000,"summary":"Light
        Rain","icon":"rain","precipIntensity":0.0162,"precipProbability":0.46,"precipType":"rain","temperature":69.22,"apparentTemperature":69.22,"dewPoint":49.99,"humidity":0.5,"windSpeed":2.92,"windBearing":136,"visibility":9.45,"cloudCover":0.17,"pressure":1012.56},{"time":1439103600,"summary":"Rain","icon":"rain","precipIntensity":0.1494,"precipProbability":0.71,"precipType":"rain","temperature":67.27,"apparentTemperature":67.27,"dewPoint":49.07,"humidity":0.52,"windSpeed":3.07,"windBearing":107,"visibility":10,"cloudCover":0.17,"pressure":1012.92},{"time":1439107200,"summary":"Li[...]
[...]
