<% content_for :head do %>
  <meta http-equiv="refresh" content="1" />
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 data-sync">
        <h1>We're syncing your data from Strava!</h1>
        <h3>Stand by for something neat.</h3>
        <i class="fa fa-spinner fa-5x fa-pulse"></i>
    </div>
  </div>
</div>
