<% content_for :head do %>
  <meta http-equiv="refresh" content="1" />
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class="data-sync">We're syncing your data from Strava!</h1>
        <h3 class="data-sync">Stand by for something neat.</h3>
    </div>
  </div>
</div>
