<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Runcast</h1>
    <h2 class="home">Understand Your Ideal Run</h2>
    <%= link_to image_tag("connect_with_strava_2x.png"), "/auth/strava", class: "login-button" %>
  </div>
  <div class="col-md-2"></div>
</div>
