<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Runcast</h1>
    <h2 class="home">Understand Your Ideal Run</h2>
    <%= link_to "Log In To Get Started", "/auth/twitter", class: "btn btn-lg btn-default btn-login" %>
  </div>
  <div class="col-md-2"></div>
</div>
