<div class="container container-dashboard">
  <%= render "layouts/segment_picker" %>
  <div class="pr-partial" id="segment-details-container">
    <% if @pr %>
      <%= render "layouts/segment_details" %>
    <% end %>
  </div>
</div>
