---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=3ecd75d3b5bef10ceffdc766f88fc42d7268eeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a3744afba6fa1be07acb3dc2bc671b1c"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 1e7863f75ed279f853e21d2d5409afee
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,288'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":395071505,"resource_state":2,"external_id":"garmin_push_902671904","upload_id":444023130,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":3651.0,"moving_time":1310,"elapsed_time":1399,"total_elevation_gain":13.8,"type":"Run","start_date":"2015-09-17T12:25:45Z","start_date_local":"2015-09-17T06:25:45Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.77,-105.01],"end_latlng":[39.77,-105.01],"location_city":"Denver","location_state":"Colorado","location_country":"United
        States","start_latitude":39.77,"start_longitude":-105.01,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a395071505","summary_polyline":"_tvqFrg}_SEzRnqA[IkEmDBc@{OqD_F}B`Buy@LYhFwDC","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g357413","average_speed":2.787,"max_speed":3.6,"average_cadence":83.1,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":395071507,"resource_state":2,"external_id":"garmin_push_902671891","upload_id":444023126,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":16101.5,"moving_time":8450,"elapsed_time":9343,"total_elevation_gain":390.1,"type":"Run","start_date":"2015-09-12T15:07:37Z","start_date_local":"2015-09-12T09:07:37Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.7,-105.19],"end_latlng":[39.7,-105.19],"location_city":"Morrison","location_state[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3//activities/395071507?access_token=3ecd75d3b5bef10ceffdc766f88fc42d7268eeab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a250176b41b369995f997b258644516f"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '3,289'
    body:
      encoding: ASCII-8BIT
      string: '{"id":395071507,"resource_state":3,"external_id":"garmin_push_902671891","upload_id":444023126,"athlete":{"id":2976741,"resource_state":1},"name":"Morning
        Run","distance":16101.5,"moving_time":8450,"elapsed_time":9343,"total_elevation_gain":390.1,"type":"Run","start_date":"2015-09-12T15:07:37Z","start_date_local":"2015-09-12T09:07:37Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.7,-105.19],"end_latlng":[39.7,-105.19],"location_city":"Morrison","location_state":"Colorado","location_country":"United
        States","start_latitude":39.7,"start_longitude":-105.19,"achievement_count":10,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a395071507","polyline":"cehqFfh`aSfBq@HM\\Yr@iAPg@K_@AWe@uAKg@CHUk@QcBw@{B@o@Ni@Be@?m@Em@Bk@?YTe@`@]Ou@Cq@[}@Em@ScA@c@Hm@No@Bo@VyAFq@DiADA@aAGIHMF?DBl@mArAeBf@EXI?@\\]Xa@^Yd@IhAK~@q@|AqAbBgAv@aAVc@Zc@~AwAx@}@d@uA\\UJk@AI@m@Eo@NMd@F`Al@lAhB~@v@`@A\\Wb@ML?VRt@B\\G\\Zb@Dd@Gb@S^]`@WxBwB\\[Z_@lAoBX[|@a@\\]|@s@r@gAbAsBf@sARcBZ]D?`@YVc@^Ob@Bb@IvA}A^[Nk@\\mCTk@No@Bq@?q@Qi@Is@ZYb@QX]XIZ_@Nm@Bc@ImCMo@Jg@Za@Rk@^}ABk@i@sA_@Mc@@MGOO]gACQ@e@KWIm@EwC]Y{@{@Km@J_BKo@Uc@[c@{@{@u@gA[Ye@@mANKYYiBOi@_@]Wg@a@Ug@CmB\\k@f@Mb@GFCLMHUVOVICM_A][...]
[...]
