.dashboard-header {
  text-align: center;
  color: #FC4D02;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.pr-data {
  border-style: solid;
  border-width: thin;
  border-radius: 1em;
  border-color: #FC4D02;
}

p {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  text-align: center;
}
