.dashboard-header {
  text-align: center;
  color: #FC4D02;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.segment-data {
  background-color: #f28d65;
}

.pr-data {
  background-color: white;
}

p {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  text-align: center;
}

.map-picker-button {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FC4D02;
}
