.segment-picker {
  text-align: center;
  padding-bottom: 4rem;
}

.segment-dropdown {
  padding-bottom: 4rem;
}

.segment-form-label {
  color: #FC4D02;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.segment-title {
  color: #FC4D02;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5rem;
}


.segment-picker-button {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FC4D02;
}

@media (min-width: 768px) {
  .form-inline .input-group .form-control.segment-dropdown-options {
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 75%;
  }
}
