.segment-picker {
  text-align: center;
  padding-bottom: 4rem;
}

.segment-dropdown {
  padding-bottom: 4rem;

}

.segment-form-label {
  color: #FC4D02;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.segment-title {
  color: #FC4D02;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-size: 6rem;
}

.segment-dropdown-options {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 75%;
}

.segment-picker-button {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #FC4D02;
}
