<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 segment-picker">
      <div class="form-group form-inline segment-dropdown">
        <div class="input-group">
          <div class="col-sm-1"></div>
            <label for="segments" class="col-sm-2 control-label form-horizontal segment-form-label">Select a Segment:</label>
            <div class="col-sm-8">
              <%= form_tag(dashboard_path, method: :get, id: 'segment-picker-form') do %>
                <%= select_tag "segment_name", options_for_select(current_user.segment_names), class: "form-control segment-dropdown-options" %>
                <%= submit_tag "Go!", class: "btn btn-default segment-picker-button", id: "segment-picker-submit-button" %>
              <% end %>
            </div>
          </div>
        </div>
      <% if @pr %>
        <h1 class="segment-title"><%= @pr.name %></h1>
      <% else %>
        <h1 class="segment-title">Choose a segment to get started!</h1>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
