<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 segment-picker">
      <div class="form-group segment-dropdown">
        <div class="col-sm-2"></div>
          <label for="segmentPicker" class="col-sm-2 control-label segment-form-label">Select a Segment:</label>
          <div class="col-sm-6">
            <select class="form-control segment-dropdown-options">
              <% current_user.segment_names.each do |name| %>
                <option><%= name %></option>
              <% end %>
            </select>
          </div>
        </div>
      <h1 class="segment-title">Chatauqua Loop</h1>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
