<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 segment-picker">
      <!-- <h3>Choose A Segment</h3> -->
      <div class="form-group segment-dropdown">
        <div class="col-sm-2"></div>
          <label for="inputPassword" class="col-sm-2 control-label segment-form-label">Select a Segment</label>
          <div class="col-sm-6">
            <select class="form-control segment-dropdown-options">
              <option>Chautaqua Loop</option>
              <option>Cherry Creek Trail</option>
              <option>Eagle's Nest</option>
              <option>Boulder Creek Path</option>
              <option>Chicago Lakefront Trail</option>
            </select>
          </div>
        </div>
      <h1 class="segment-title">Chatauqua Loop</h1>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
